/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v23-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v23-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    margin: 0;
    padding: 0;
}

/* body {
    
} */

.container {
    background: #160430;
    
}

/* .background {
} */

.logo {
    position: absolute;
    margin-left: 70px;
    margin-top: 50px;
}

.text-left {
    font-family: 'Poppins',sans-serif;
    color: #fff;
    position: relative;
    margin-top: -200px;
    margin-left: 50px;
}
.text-left-purple {
    font-family: 'Poppins',sans-serif;
    color: #fff;
    position: relative;
    margin-left: 50px;
    color: #AE69FF;
}

.sign-in {
    position: relative;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    /* display: flex;
    justify-content: flex-end; */
    /* max-width: 600px; */
    left: 900px;
    bottom: 600px;
    max-width: 32%;
    display: grid;
}

.header-text {
    font-size: 70px;
}

.desc {
    font-weight: 700;
    font-size: 12px;
}

.input {
    background-image: url(/img/Vector.png);
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Poppins',sans-serif;
    background-color: #261046;
    border: none;
    border-radius: 5px;
    padding: 17px 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: left;
    
}

.button {
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(90deg, rgba(80, 23, 148, 1) 0%, rgba(62, 112,161,1) 100%);
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    padding: 17px 193px;
    cursor: pointer;
    margin-bottom: 4px;
    border-bottom: 1px solid #727272;
    background-size: 200% 100%;
    transition: 0.5s;
}

.Google {
    background-image: url(/img/Group\ 1432.png);
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    padding: 13px 120px;
    border-radius: 15px;
    background-color: #3B2063;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 100px;
    padding-left: 60px;
    margin-left: 10px;
    /* display: flex;
    justify-content: center;
    cursor: pointer; */
}

.Facebook{
    background-image: url(/img/Group\ 1431.png);
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    padding: 13px 120px;
    border-radius: 15px;
    background-color: #3B2063;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 100px;
    margin-left: 5px;
    padding-left: 60px;
    /* display: flex;
    justify-content: flex-end;
    cursor: pointer; */
}

.buttons {
    display: inline-block;
    width: 800px;

}

.Terms span {
    color: #9D5CE9;
    cursor: pointer;
}






@media (min-width:1440px) and (max-width: 1920px){
    .input {
        max-width: 150px;
    }

    .button {
        max-width: 500px;
        width: 450px;
        padding: 20px 20px;
    }
    .container {
        max-width: 2000px;
    }
}


@media (min-width:375px) and (max-width: 1440px) {
    * {
        max-width: 640px;
    }
    .background {
        height: 800px;
        transform: scaleX(-1);
        object-fit: cover;
        position: relative;
        left: -180px;
        overflow-y: hidden;
        
        
    }
    .container {
        background-color: #160430;
        width: 2000px;
        
    }
    .logo {
        position: absolute;
        /* position: absolute; */
        /* margin: 100px; */
        margin-top: px;
        z-index: 1;
    }
    .sign-in {
        display: flex;
        flex-direction: column;
        margin-left: -850px;
        max-width: 100px;
    }
    .button {
        padding: 5px 10px;
        width: 300px;
    }
    .header-text {
        width: 260px;
    }
    .text-left {
        display: none;
    }
    .text-left-purple {
        display: none;
    }
    .Terms {
        width: 250px;
    }
}